// Colors
$color-white: #fff;
$color-black: #000;
// Gradients
$gradient-to-right: linear-gradient(to right, #353535, #2D2D2D);
$gradient-to-bottom-right: linear-gradient(to bottom right, #353535, #2D2D2D);